.long-list-wrapper {
  list-style-type: none;
  overflow-x: scroll;
  position: absolute;
  max-height: 0px;
  transition: all 0.2s linear;
  top: 60px;
  border: none;
  padding-inline-start: 0;
  width: 100%;
}

.long-list-wrapper.active {
  max-height: 200px;
  border: 1px solid var(--border-card);
}

.long-list-wrapper li {
  padding: 8px 24px;
  border-bottom: 1px solid var(--border-card);
}

input::placeholder {
  font-size: 14px;
}

input::-webkit-input-placeholder {
  font-size: 14px;
}

input:-moz-placeholder {
  font-size: 14px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: none;
}
select {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color, #e1e1e1);
  background-color: var(--white-variant-3, #f5f5f5);
  color: var(--text-color, #333);
  font-size: 1rem;
  appearance: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
